# Ignore .DS_Store
.DS_Store

# Ignore build results
Cargo.lock
target
evercrypt_tiny-sys/src/bindgen/bindgen.rs
evercrypt_tiny-sys/vendored/**/c89-compatible/config.h
evercrypt_tiny-sys/vendored/**/*.d
evercrypt_tiny-sys/vendored/**/*.o
evercrypt_tiny-sys/vendored/**/*.a
evercrypt_tiny-sys/vendored/**/*.so

# Ignore template files
vendored/*.zip

# Ignore some vscode files
.vscode/*
!.vscode/*.md
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/settings.json
